<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{% block title %} {% endblock %}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> -->
    <!-- <script src='main.js'></script> -->
</head>
<body>
<header>
    <a href="{% url 'home' %}">Bosh sahifa</a>
    <br/>
    <a href="{% url 'contact' %}">Kontakt</a>
    <br/>
    <a href="{% url 'about' %}">Biz haqimizda</a>
    <br/>
    <a href="{% url 'news' %}"> Yangiliklar</a>
</header>

    {% block content %}

    {% endblock content %}


</body>
</html>