body{background: rgb(152, 207, 225);}

a:hover{cursor: default;}
.link{
    display: inline-block;
    width: 120px;
    height: inherit;
    border: 2px;
    border-radius: 6%;
    border-color: brown;
    background-color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14pt;
    margin-left: 15px;
    font-style: initial;
}

.bdy{
    margin: 0 15%;
    background: aquamarine;
    height: 800px;
    display: block;
    }